@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    padding-left: 15%;
    padding-right: 15%;
    height: 56px;
    background-color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-size: 32px;
    color: #aaa;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

li {
    margin-left: 12px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 19px;
    padding-bottom: 19px;
}

a {
    text-decoration: none;
    color: #eee;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

li:hover {
    background-color: #fce40d;
}

li:hover > a {
    color: #333;
}

.section0 {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 52px;
    color: #eee;
    margin-top: 12px;
    margin-bottom: 12px;
}

.secondary-hero-text {
    font-family: 'Roboto', sans-serif;
    color: #aaa;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.section0-button {
    background-color: #fce40d;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #333;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: #fce40d;
    border-radius: 14px;
}

.main-placeholder {
    background-color: #666;
    height: 200px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 {
    padding-top: 28px;
    padding-bottom: 64px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #333;
    margin-bottom: 24px;
}
.info {
    display: flex;
    width: 125px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 25px;
    margin-right: 25px;
}

.info-img {
    width: 125px;
    height: 125px;
    border-radius: 16px;
    border-color: #333;
    border-style: solid;    
}

.info-text {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 12px;
    color: #444;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}